<!DOCTYPE html>
<html> 
    <head>
        <title> new-flow </title>
        <meta charset="="utf-8">
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <div> <p style="color:red">  {{message }} </p> </div>
        {%endfor%}
        <form id="add_group_flow" action="{{ url_for('add_group_flow') }}" method="POST">
            <label> flow </label>   
            <input list="flow_idb" name="flow_id" id="flow_id">
            <datalist id="flow_idb">
                {% for flow in flows %}
                <option value="{{ flow.flowname }}">
                {% endfor %}    
            </datalist>
            <br>
            <label> grupa </label> 
            <input list="group_idb" name="group_id" id="group_id">
            <datalist id="group_idb">
                {% for group in groups %}
                <option value="{{ group.groupname }}">
                {% endfor %}    
            </datalist>

            <br>
            <label> value </label> <input type="number" id="value" name="value" >  <br>
            <input type="submit"  value="Send"> <br>
        </form>
</body>