<table class="table">
    <thead>
    <tr>
        <th > # </th>
        <th > Currency </th>
        <th > Amount </th>
        <th > Data </th>
        <th > Operations </th>
    </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <th>  {{ transaction.id}} </th>
            <th>  {{ transaction.Currency}} </th>
            <th>  {{ transaction.Amount}} </th>
            <th>  {{ transaction.trans_date}} </th>
            <td >
                <a href="#" role="button" >Actions</a>
                <a href=" {{ url_for('edit_transaction', transaction_id=transaction.id )}}" role="button"> Edit</a>
                <a href="{{ url_for('delete_transaction',transaction_id=transaction.id )}}" role="button"> Delate</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>