{% for message in get_flashed_messages() %}
<div> <p style="color:red">  {{message }} </p> </div>
{%endfor%}
<div >
<h1> aktualne flow</h1>
 <table >
 <thead>
 <tr>
  <th> ID</th>
 <th >Flowname</th>
 <th >Flowdescription</th>
 <th >Plik</th>
 <th >Grupa do akceptacji</th>
 <th >Zakoczone</th>
 <th >Komentarz</th>
 <!--<th >Więcej informacji</th> !-->
 <th >Przekaz dalej</th>
 </tr>
 </thead>
 <tbody>
  <tr>
  {% for false_flow in false_flows %}
  
  <th scope="row">{{ false_flow.flow_id }}</th>
  <td>{{ false_flow.flowname }}</td>
  <td>{{ false_flow.flowdescription }}</td>
  <td> 
     <a href="{{ url_for('download_secret_file', name= false_flow.filename ) }}" role="button" target="_blank"> {{ false_flow.filename }} </a>  <!-- te linki są do poprway-->
  </td>
  <td> {{ false_flow.groupname }} </td>
  <td> {{ false_flow.status }}  </td>
  <td> {{ false_flow.description }}  </td>
  <!--
  <td>
    <a href="{{ url_for('flow_info', id_flo=false_flow.flow_id) }}" role="button">Więcej informacji</a>
  </td>
  !-->
  <td>
    <a href="{{ url_for('aprove', id_flo=false_flow.flow_id) }}" role="button">Przekaz dalej</a>
  </td>
  
  </tr>
  {%endfor%}
</tbody>
</table>
</div>
<div>
<h1> stare flow</h1>
<table >
<thead>
  <tr>
  <th >#</th>
  <th >Flowname</th>
  <th >Flowdescription</th>
  <th >Plik</th>
  <th >Number</th>
  <!--
  <th >Więcej informacji</th>
  !-->
  </tr>
  </thead>
  <tbody>
  
  {% for true_flow in true_flows %}
  <tr>
  <th scope="row">{{ true_flow.id_flo }}</th>
  <td>{{ true_flow.flowname }}</td>
  <td>{{ true_flow.flowdescription }}</td>
  <td> 
     <a href="{{ url_for('download_secret_file', name=true_flow.filename ) }}" role="button" target="_blank"> {{ true_flow.filename }} </a> 
  </td>
  <td> {{ true_flow.groupname }} </td>
  <!--
  <td>
    <a href="{{ url_for('flow_info', id_flo=true_flow.id_flo) }}" role="button">Więcej informacji</a>
  </td>
  !-->
  </tr>
  {%endfor%}
 </tbody>
 </table>
</div>